@charset "utf-8";
	.NormalCharacterStyle42
{
	font-family : Anton;
	font-size : 100px;
	line-height : 142px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle37
{
	font-family : Anton;
	font-size : 100px;
	line-height : 142px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle34
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle35
{
	font-family : Anton;
	font-size : 56px;
	line-height : 79.95px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle40
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle39
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle38
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle33
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle36
{
	font-family : Anton;
	font-size : 100px;
	line-height : 142px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle41
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle43
{
	font-family : Anton;
	font-size : 100px;
	line-height : 110px;
	color : #2AA8A5;
	color : rgb(42, 168, 165);
}
.NormalCharacterStyle21
{
	font-family : Anton;
	font-size : 116px;
	line-height : 122.42px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle29
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle31
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle32
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle24
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle27
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle25
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle23
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle22
{
	font-family : Anton;
	font-size : 116px;
	line-height : 122.42px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle26
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle30
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle15
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle11
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle10
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle8
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle16
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle3
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle4
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle1
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle12
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle5
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #58595B;
	color : rgb(88, 89, 91);
}
.NormalCharacterStyle19
{
	font-family : Anton;
	font-size : 100px;
	line-height : 142px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle
{
	font-family : Anton;
	font-size : 131px;
	line-height : 186.77px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle17
{
	font-family : Anton;
	font-size : 59px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle14
{
	font-family : Anton;
	font-size : 100px;
	line-height : 142px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle20
{
	font-family : Anton;
	font-size : 100px;
	line-height : 110px;
	color : #2AA8A5;
	color : rgb(42, 168, 165);
}
.NormalCharacterStyle7
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle6
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
.NormalCharacterStyle13
{
	font-family : Anton;
	font-size : 56px;
	line-height : 79.95px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle2
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #DFF4F2;
	color : rgb(223, 244, 242);
}
.NormalCharacterStyle9
{
	font-family : Open Sans;
	font-size : 50px;
	line-height : 84.45px;
	color : #5B5B5B;
	color : rgb(91, 91, 91);
}
